.productcard_container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px dashed #f0f0f0;
  margin-bottom: 30px;
}

.productImage img {
  width: 200px;
  height: 200px;
}

.productHeading {
  height: 90px;
}
.productDescription {
  height: 100px;
  overflow: hidden;
  padding: 5px;
  background-color: #f0f0f0;
}

.productDescription p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 19px;
    max-height: 80px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.productMRP {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.productPrice {
  margin-left: 5px;
}

.productButton button {
  color: white;
  background-color: #e52254;
  border: none;
  padding: 10px;
  font-family: "Dosis";
  cursor: pointer;
}
