.product_container {
    margin: 0px 5%;
  }
  
  @media screen and ( max-width : 800px ) {
    .product_container { 
      margin: 0px 1%;
    }
  }
  

  /* @media screen and ( max-width : 600px) {

    .displayname{
        display: none;
    }
    
  } */